@layer features {
.actions {
  align-items: center;
  display: flex;
  gap: 0.75rem;
}

.empty {
  color: var(--theme-color-text-400);
  font-size: 0.875rem;
  margin-block-start: 3rem;
  text-align: center;
}

.renameForm {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
}
