.header.page {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-block: 1rem;
  padding-inline: 1rem;

  background-color: var(--theme-color-background-tint-02);
}

.header.site {
  position: sticky;
  z-index: 10;

  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-block-end: 1rem;
  padding-block-start: calc(env(safe-area-inset-top) + 1rem);
  padding-inline: 1rem;

  background-color: var(--theme-color-background-tint-01);
  border-bottom: 1px solid var(--theme-color-border-default);
}
