@layer components {
  .heading {
    font: inherit;
    margin: 0;
  }

  .trigger {
    align-items: center;
    display: flex;
    gap: 0.375rem;
    padding-block: 0.25rem;
    width: 100%;

    color: var(--theme-color-text-400);
    text-align: left;

    transition: color 150ms ease-in-out;
  }

  @media (hover: hover) {
    .trigger:hover {
      color: var(--theme-color-accent-500);
    }
  }

  .title {
    font-size: 0.75rem;
    font-weight: 600;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }

  .chevron {
    flex-shrink: 0;
    height: 0.75rem;
    width: 0.75rem;

    transition: transform 150ms ease-in-out;
  }

  .chevron.collapsed {
    transform: rotate(-90deg);
  }
}
