@layer components {
  .heading {
    margin: 0;
  }

  .heading.h2 {
    color: var(--theme-color-text-400);
    font-size: 0.75rem;
    font-weight: 600;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    margin-block-end: 0.75rem;
  }
}
