@tailwind base;
@tailwind components;
@tailwind utilities;

@layer variables {
  :root {
    /* ========================================================== */
    /* Color Palette */
    /* All the colors for this project */
    /* ========================================================== */
    /* #region */
    /* Primary Colors */
    --color-strawberry-red: #ef233c;
    --color-emerald: #06d6a0;
    --color-royal-gold: #ffd166;
    --color-turquoise-surf: #00b4d8;
    /* Grayscale */
    --color-black: #1f2127;
    --color-space-indigo: #22223b;
    --color-platinum: #edf2f4;
    --color-white: #ffffff;
    /* #endregion */
    /* ========================================================== */
    /* Typography */
    /* #region */
    --font-primary: "Manrope", sans-serif;
    --font-secondary: "Teko", sans-serif;
    /* #endregion */
    /* ========================================================== */
    /* Base Theme Colors */
    /* THESE ARE THE ONLY COLORS THAT SHOULD CHANGE */
    --theme-color-accent-500: var(--color-turquoise-surf);
    --theme-color-on-accent: var(--color-black);
    --theme-color-background-500: var(--color-white);
    --theme-color-text-500: var(--color-space-indigo);
    /* ========================================================== */
    /* Derived Theme Colors */
    /* #region */
    --theme-color-accent-100: color-mix(
      in srgb,
      var(--theme-color-accent-500) 10%,
      var(--theme-color-background-500) 100%
    );
    --theme-color-background-300: color-mix(
      in srgb,
      var(--theme-color-background-500) 100%,
      var(--theme-color-text-500) 3%
    );

    --theme-color-background-400: color-mix(
      in srgb,
      var(--theme-color-background-500) 100%,
      var(--theme-color-text-500) 5%
    );

    --theme-color-border-500: color-mix(
      in srgb,
      var(--theme-color-background-500) 100%,
      var(--theme-color-text-500) 20%
    );

    --theme-color-text-300: color-mix(
      in srgb,
      var(--theme-color-text-500) 80%,
      var(--theme-color-background-500) 100%
    );
    --theme-color-text-400: color-mix(
      in srgb,
      var(--theme-color-text-500) 100%,
      var(--theme-color-background-500) 100%
    );
    /* #endregion */
    /* ========================================================== */
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --theme-color-accent-500: var(--color-emerald);
      --theme-color-on-accent: var(--color-black);
      --theme-color-background-500: var(--color-black);
      --theme-color-text-500: var(--color-white);
    }
  }
}

@layer utilities {
  .pt-safe {
    padding-top: calc(env(safe-area-inset-top) + 1rem);
  }
  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
  }
}

@layer base {
  html,
  body,
  #root {
    height: 100dvh;

    font-family: var(--font-primary);
  }

  body {
    color: var(--theme-color-text-500);

    background-color: var(--theme-color-background-500);
  }

  #root {
    display: flex;
    flex-direction: column;
  }
}
